{{> head}}
<body>
    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quam ut itaque accusamus minima temporibus velit explicabo non debitis ipsa, ab quia repellendus, doloremque in cumque recusandae eligendi quod culpa!</p>
        </div>
        <div class="col-4">
            <img class="img-thumbnail" src="assets/img/computer.jpg" alt="Computadora" width="300">
        </div>
    </div>
    {{> footer}}
</body>
</html>